html {
  position: relative;
  min-height: 100%;

}
.mycontainer {
    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 15%;
    padding-left: 10px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}


.navbarTex {
    color: #E8E8E8;
    font-weight: 500;
}

.navbar .navbar-header img {
    padding-top: 5px;
}

.navbar-brand {
    position: relative;
    width: 100%;
    left: 50px;
    bottom: 17px;
    text-align: center;
    margin: 0 auto;
}

.navbar-toggle {
    z-index: 3;
}

/*navbar customization*/
.navbar-custom {
    background-color: #5f021f;
    border-color: #2f0713;
}

    .navbar-custom .navbar-brand {
        color: #ecf0f1;
    }

        .navbar-custom .navbar-brand:hover,
        .navbar-custom .navbar-brand:focus {
            color: #d83b3b;
        }

    .navbar-custom .navbar-text {
        color: #ecf0f1;
    }

    .navbar-custom .navbar-nav > li > a {
        color: #ecf0f1;
    }

        .navbar-custom .navbar-nav > li > a:hover,
        .navbar-custom .navbar-nav > li > a:focus {
            color: #d83b3b;
        }

    .navbar-custom .navbar-nav > li > .dropdown-menu {
        background-color: #5f021f;
    }

        .navbar-custom .navbar-nav > li > .dropdown-menu > li > a {
            color: #ecf0f1;
        }

            .navbar-custom .navbar-nav > li > .dropdown-menu > li > a:hover,
            .navbar-custom .navbar-nav > li > .dropdown-menu > li > a:focus {
                color: #d83b3b;
                background-color: #2f0713;
            }

        .navbar-custom .navbar-nav > li > .dropdown-menu > li > .divider {
            background-color: #2f0713;
        }

    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #d83b3b;
        background-color: #2f0713;
    }

    .navbar-custom .navbar-nav > .active > a,
    .navbar-custom .navbar-nav > .active > a:hover,
    .navbar-custom .navbar-nav > .active > a:focus {
        color: #d83b3b;
        background-color: #2f0713;
    }

    .navbar-custom .navbar-nav > .open > a,
    .navbar-custom .navbar-nav > .open > a:hover,
    .navbar-custom .navbar-nav > .open > a:focus {
        color: #d83b3b;
        background-color: #2f0713;
    }

    .navbar-custom .navbar-toggle {
        border-color: #2f0713;
    }

        .navbar-custom .navbar-toggle:hover,
        .navbar-custom .navbar-toggle:focus {
            background-color: #2f0713;
        }

        .navbar-custom .navbar-toggle .icon-bar {
            background-color: #ecf0f1;
        }

    .navbar-custom .navbar-collapse,
    .navbar-custom .navbar-form {
        border-color: #ecf0f1;
    }

    .navbar-custom .navbar-link {
        color: #ecf0f1;
    }

        .navbar-custom .navbar-link:hover {
            color: #d83b3b;
        }

@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }

        .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #d83b3b;
        }

    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #d83b3b;
        background-color: #2f0713;
    }
}
/*end of navbar customization*/

/*footer*/
.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #5f021f;
    
}

.footerText {
    margin-top: 20px;
    color: #E8E8E8;
    font-weight: 500;
}
/************/

.mythead {
    background-color: #f5f5dc;
}


body {
    padding-top: 40px;
}
