<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Shared/css/style.css" />
    <link rel="stylesheet" href="~/Shared/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="description" content="My books" />
</head>
<body>

    @RenderPage("~/Shared/_header.cshtml")

    <div class="container mycontainer">

        @RenderBody()
    </div>

        @RenderPage("~/Shared/_footer.cshtml")
    
</body>
</html>